{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Finnhub API",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "finnhub.io",
  "servers": [
    {
      "url": "https://finnhub.io"
    }
  ],
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "orders": [
    "/country"
  ],
  "paths": {
    "/country": {
      "get": {
        "summary": "Country Metadata",
        "description": "List all countries and metadata.",
        "operationId": "country",
        "navHeader": "Country List",
        "urlId": "country",
        "title": "Country List",
        "examples": [
          {
            "url": "/country?token=<token>",
            "text": "/country"
          }
        ],
        "widget": null,
        "freeTier": null,
        "premium": null,
        "newEndpoint": null,
        "highUsage": null,
        "tags": [
          "Default"
        ],
        "section": "Economic",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CountryMetadata"
              }
            }
          }
        },
        "sampleCode": {
          "curl": "autoGenerated",
          "python": "print(finnhub_client.country())",
          "go": "res, _, err := finnhubClient.Country(context.Background()).Execute()",
          "javascript": "finnhubClient.country((error, data, response) => {\n  console.log(data)\n});",
          "ruby": "puts(finnhub_client.country())",
          "kotlin": "println(apiClient.country())",
          "php": "print_r($client->country());",
          "useTemplate": true
        },
        "sampleResponse": "[\n  {\n    \"code2\": \"US\",\n    \"code3\": \"USA\",\n    \"codeNo\": \"840\",\n    \"country\": \"United States\",\n    \"countryRiskPremium\": 0,\n    \"currency\": \"US Dollar\",\n    \"currencyCode\": \"USD\",\n    \"defaultSpread\": 0,\n    \"equityRiskPremium\": 5,\n    \"rating\": \"Aaa\",\n    \"region\": \"Americas\",\n    \"subRegion\": \"Northern America\"\n  },\n  {\n    \"code2\": \"GB\",\n    \"code3\": \"GBR\",\n    \"codeNo\": \"826\",\n    \"country\": \"United Kingdom of Great Britain and Northern Ireland\",\n    \"countryRiskPremium\": 0.91,\n    \"currency\": \"Sterling\",\n    \"currencyCode\": \"GBP\",\n    \"defaultSpread\": 0.64,\n    \"equityRiskPremium\": 5.91,\n    \"rating\": \"Aa3\",\n    \"region\": \"Europe\",\n    \"subRegion\": \"Northern Europe\"\n  }\n]",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "SearchBody": {
      "type": "object",
      "required": [
        "query"
      ],
      "properties": {
        "query": {
          "description": "Search query",
          "type": "string"
        },
        "isins": {
          "description": "List of isin to search, comma separated (Max: 50).",
          "type": "string"
        },
        "cusips": {
          "description": "List of cusip to search, comma separated (Max: 50).",
          "type": "string"
        },
        "ciks": {
          "description": "List of SEC Center Index Key to search, comma separated (Max: 50).",
          "type": "string"
        },
        "sedarIds": {
          "description": "List of SEDAR issuer number to search, comma separated (Max: 50).",
          "type": "string"
        },
        "chIds": {
          "description": "List of Companies House number to search, comma separated (Max: 50).",
          "type": "string"
        },
        "symbols": {
          "description": "List of symbols to search, comma separated (Max: 50).",
          "type": "string"
        },
        "sedols": {
          "description": "List of sedols to search, comma separated (Max: 50).",
          "type": "string"
        },
        "sources": {
          "description": "List of sources to search, comma separated (Max: 50). Look at <code>/filter</code> endpoint to see all available values.",
          "type": "string"
        },
        "forms": {
          "description": "List of forms to search, comma separated (Max: 50). Look at <code>/filter</code> endpoint to see all available values.",
          "type": "string"
        },
        "gics": {
          "description": "List of gics to search, comma separated (Max: 50). Look at <code>/filter</code> endpoint to see all available values.",
          "type": "string"
        },
        "naics": {
          "description": "List of sources to search, comma separated (Max: 50). Look at <code>/filter</code> endpoint to see all available values.",
          "type": "string"
        },
        "exhibits": {
          "description": "List of exhibits to search, comma separated (Max: 50). Look at <code>/filter</code> endpoint to see all available values.",
          "type": "string"
        },
        "exchanges": {
          "description": "List of exchanges to search, comma separated (Max: 50). Look at <code>/filter</code> endpoint to see all available values.",
          "type": "string"
        },
        "countries": {
          "description": "List of sources to search, comma separated (Max: 50). Look at <code>/filter</code> endpoint to see all available values.",
          "type": "string"
        },
        "acts": {
          "description": "List of SEC's exchanges act to search, comma separated. Look at <code>/filter</code> endpoint to see all available values.",
          "type": "string"
        },
        "caps": {
          "description": "List of market capitalization to search, comma separated. Look at <code>/filter</code> endpoint to see all available values.",
          "type": "string"
        },
        "fromDate": {
          "description": "Search from date in format: YYYY-MM-DD, default from the last 2 years",
          "type": "string"
        },
        "toDate": {
          "description": "Search to date in format: YYYY-MM-DD, default to today",
          "type": "string"
        },
        "page": {
          "description": "Use for pagination, default to page 1",
          "type": "string"
        },
        "sort": {
          "description": "Sort result by, default: sortMostRecent. Look at <code>/filter</code> endpoint to see all available values.",
          "type": "string"
        },
        "highlighted": {
          "description": "Enable highlight in returned filings. If enabled, only return 10 results each time",
          "type": "boolean"
        }
      }
    },
    "InFilingSearchBody": {
      "type": "object",
      "required": [
        "query",
        "filingId"
      ],
      "properties": {
        "query": {
          "description": "Search query",
          "type": "string"
        },
        "filingId": {
          "description": "Filing Id to search",
          "type": "string"
        }
      }
    },
    "SearchResponse": {
      "type": "object",
      "properties": {
        "count": {
          "description": "Total filing matched your search criteria.",
          "type": "integer"
        },
        "took": {
          "description": "Time took to execute your search query on our server, value in ms.",
          "type": "integer"
        },
        "page": {
          "description": "Current search page",
          "type": "integer"
        },
        "filings": {
          "description": "Filing match your search criteria.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilingResponse"
          }
        }
      }
    },
    "FilingResponse": {
      "type": "object",
      "properties": {
        "filingId": {
          "description": "Filing Id in Alpharesearch platform",
          "type": "string"
        },
        "title": {
          "description": "Filing title",
          "type": "string"
        },
        "filerId": {
          "description": "Id of the entity submitted the filing",
          "type": "string"
        },
        "symbol": {
          "description": "List of symbol associate with this filing"
        },
        "name": {
          "description": "Filer name",
          "type": "string"
        },
        "acceptanceDate": {
          "description": "Date the filing is submitted.",
          "type": "string"
        },
        "filedDate": {
          "description": "Date the filing is made available to the public",
          "type": "string"
        },
        "reportDate": {
          "description": "Date as which the filing is reported",
          "type": "string"
        },
        "form": {
          "description": "Filing Form",
          "type": "string"
        },
        "amend": {
          "description": "Amendment",
          "type": "boolean"
        },
        "source": {
          "description": "Filing Source",
          "type": "string"
        },
        "pageCount": {
          "description": "Estimate number of page when printing",
          "type": "integer"
        },
        "documentCount": {
          "description": "Number of document in this filing",
          "type": "integer"
        }
      }
    },
    "InFilingResponse": {
      "type": "object",
      "properties": {
        "filingId": {
          "description": "Filing Id in Alpharesearch platform",
          "type": "string"
        },
        "title": {
          "description": "Filing title",
          "type": "string"
        },
        "filerId": {
          "description": "Id of the entity submitted the filing",
          "type": "string"
        },
        "symbol": {
          "description": "List of symbol associate with this filing"
        },
        "name": {
          "description": "Filer name",
          "type": "string"
        },
        "acceptanceDate": {
          "description": "Date the filing is submitted.",
          "type": "string"
        },
        "filedDate": {
          "description": "Date the filing is make available to the public",
          "type": "string"
        },
        "reportDate": {
          "description": "Date as which the filing is reported",
          "type": "string"
        },
        "form": {
          "description": "Filing Form",
          "type": "string"
        },
        "amend": {
          "description": "Amendment",
          "type": "boolean"
        },
        "source": {
          "description": "Filing Source",
          "type": "string"
        },
        "pageCount": {
          "description": "Estimate number of page when printing",
          "type": "integer"
        },
        "documentCount": {
          "description": "Number of document in this filing",
          "type": "integer"
        },
        "documents": {
          "description": "Document for this filing.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentResponse"
          }
        }
      }
    },
    "DocumentResponse": {
      "type": "object",
      "properties": {
        "documentId": {
          "description": "AlphaResearch internal document id.",
          "type": "string"
        },
        "title": {
          "description": "Title for this document.",
          "type": "string"
        },
        "hits": {
          "description": "Number of hit in this document",
          "type": "string"
        },
        "url": {
          "description": "Link to render this document",
          "type": "string"
        },
        "format": {
          "description": "Format of this document (can be html or pdf)",
          "type": "string"
        },
        "excerpts": {
          "description": "Highlighted excerpts for this document",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExcerptResponse"
          }
        }
      }
    },
    "ExcerptResponse": {
      "type": "object",
      "properties": {
        "content": {
          "description": "Highlighted content",
          "type": "string"
        },
        "snippetId": {
          "description": "Location of the content in the rendered document",
          "type": "string"
        },
        "startOffset": {
          "description": "Start offset of highlighted content",
          "type": "string"
        },
        "endOffset": {
          "description": "End offset of highlighted content",
          "type": "string"
        }
      }
    },
    "SearchFilter": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Filter id, use with respective field in search query body.",
          "type": "string"
        },
        "name": {
          "description": "Display name.",
          "type": "string"
        }
      }
    },
    "StockSymbol": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Symbol description",
          "type": "string"
        },
        "displaySymbol": {
          "description": "Display symbol name.",
          "type": "string"
        },
        "symbol": {
          "description": "Unique symbol used to identify this symbol used in <code>/stock/candle</code> endpoint.",
          "type": "string"
        },
        "type": {
          "description": "Security type.",
          "type": "string"
        },
        "mic": {
          "description": "Primary exchange's MIC.",
          "type": "string"
        },
        "figi": {
          "description": "FIGI identifier.",
          "type": "string"
        },
        "shareClassFIGI": {
          "description": "Global Share Class FIGI.",
          "type": "string"
        },
        "currency": {
          "description": "Price's currency. This might be different from the reporting currency of fundamental data.",
          "type": "string"
        },
        "symbol2": {
          "description": "Alternative ticker for exchanges with multiple tickers for 1 stock such as BSE.",
          "type": "string"
        },
        "isin": {
          "description": "ISIN. This field is only available for EU stocks and selected Asian markets. Entitlement from Finnhub is required to access this field.",
          "type": "string"
        }
      }
    },
    "SymbolLookup": {
      "type": "object",
      "properties": {
        "result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SymbolLookupInfo"
          },
          "description": "Array of search results."
        },
        "count": {
          "description": "Number of results.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SymbolLookupInfo": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Symbol description",
          "type": "string"
        },
        "displaySymbol": {
          "description": "Display symbol name.",
          "type": "string"
        },
        "symbol": {
          "description": "Unique symbol used to identify this symbol used in <code>/stock/candle</code> endpoint.",
          "type": "string"
        },
        "type": {
          "description": "Security type.",
          "type": "string"
        }
      }
    },
    "InstitutionalPortfolio": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Investor's name.",
          "type": "string"
        },
        "cik": {
          "description": "CIK.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalPortfolioGroup"
          },
          "description": "Array of positions."
        }
      }
    },
    "MarketStatus": {
      "type": "object",
      "properties": {
        "exchange": {
          "description": "Exchange.",
          "type": "string"
        },
        "timezone": {
          "description": "Timezone.",
          "type": "string"
        },
        "session": {
          "description": "Market session. Can be 1 of the following values: <code>pre-market</code>,<code>regular</code>,<code>post-market</code> or <code>null</code> if the market is closed.",
          "type": "string"
        },
        "holiday": {
          "description": "Holiday event.",
          "type": "string"
        },
        "isOpen": {
          "description": "Whether the market is open at the moment.",
          "type": "boolean"
        },
        "t": {
          "description": "Current timestamp.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "MarketHolidayData": {
      "type": "object",
      "properties": {
        "eventName": {
          "description": "Holiday's name.",
          "type": "string"
        },
        "atDate": {
          "description": "Date.",
          "type": "string"
        },
        "tradingHour": {
          "description": "Trading hours for this day if the market is partially closed only.",
          "type": "string"
        }
      }
    },
    "MarketHoliday": {
      "type": "object",
      "properties": {
        "timezone": {
          "description": "Timezone.",
          "type": "string"
        },
        "exchange": {
          "description": "Exchange.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MarketHolidayData"
          },
          "description": "Array of holidays."
        }
      }
    },
    "CompanyProfile": {
      "type": "object",
      "properties": {
        "alias": {
          "description": "Company name alias.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "address": {
          "description": "Address of company's headquarter.",
          "type": "string"
        },
        "city": {
          "description": "City of company's headquarter.",
          "type": "string"
        },
        "country": {
          "description": "Country of company's headquarter.",
          "type": "string"
        },
        "currency": {
          "description": "Currency used in company filings and financials.",
          "type": "string"
        },
        "estimateCurrency": {
          "description": "Currency used in Estimates data.",
          "type": "string"
        },
        "marketCapCurrency": {
          "description": "Currency used in market capitalization.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP number.",
          "type": "string"
        },
        "sedol": {
          "description": "Sedol number.",
          "type": "string"
        },
        "description": {
          "description": "Company business summary.",
          "type": "string"
        },
        "exchange": {
          "description": "Listed exchange.",
          "type": "string"
        },
        "ggroup": {
          "description": "Industry group.",
          "type": "string"
        },
        "gind": {
          "description": "Industry.",
          "type": "string"
        },
        "gsector": {
          "description": "Sector.",
          "type": "string"
        },
        "gsubind": {
          "description": "Sub-industry.",
          "type": "string"
        },
        "isin": {
          "description": "ISIN number.",
          "type": "string"
        },
        "lei": {
          "description": "LEI number.",
          "type": "string"
        },
        "irUrl": {
          "description": "Investor relations website.",
          "type": "string"
        },
        "naicsNationalIndustry": {
          "description": "NAICS national industry.",
          "type": "string"
        },
        "naics": {
          "description": "NAICS industry.",
          "type": "string"
        },
        "naicsSector": {
          "description": "NAICS sector.",
          "type": "string"
        },
        "naicsSubsector": {
          "description": "NAICS subsector.",
          "type": "string"
        },
        "name": {
          "description": "Company name.",
          "type": "string"
        },
        "phone": {
          "description": "Company phone number.",
          "type": "string"
        },
        "state": {
          "description": "State of company's headquarter.",
          "type": "string"
        },
        "ticker": {
          "description": "Company symbol/ticker as used on the listed exchange.",
          "type": "string"
        },
        "weburl": {
          "description": "Company website.",
          "type": "string"
        },
        "ipo": {
          "description": "IPO date.",
          "type": "string",
          "format": "date"
        },
        "marketCapitalization": {
          "description": "Market Capitalization.",
          "type": "number",
          "format": "float"
        },
        "shareOutstanding": {
          "description": "Number of oustanding shares.",
          "type": "number",
          "format": "float"
        },
        "employeeTotal": {
          "description": "Number of employee.",
          "type": "number",
          "format": "float"
        },
        "logo": {
          "description": "Logo image.",
          "type": "string"
        },
        "finnhubIndustry": {
          "description": "Finnhub industry classification.",
          "type": "string"
        }
      }
    },
    "CompanyProfile2": {
      "type": "object",
      "properties": {
        "country": {
          "description": "Country of company's headquarter.",
          "type": "string"
        },
        "currency": {
          "description": "Currency used in company filings.",
          "type": "string"
        },
        "exchange": {
          "description": "Listed exchange.",
          "type": "string"
        },
        "name": {
          "description": "Company name.",
          "type": "string"
        },
        "ticker": {
          "description": "Company symbol/ticker as used on the listed exchange.",
          "type": "string"
        },
        "ipo": {
          "description": "IPO date.",
          "type": "string",
          "format": "date"
        },
        "marketCapitalization": {
          "description": "Market Capitalization.",
          "type": "number",
          "format": "float"
        },
        "shareOutstanding": {
          "description": "Number of oustanding shares.",
          "type": "number",
          "format": "float"
        },
        "logo": {
          "description": "Logo image.",
          "type": "string"
        },
        "phone": {
          "description": "Company phone number.",
          "type": "string"
        },
        "weburl": {
          "description": "Company website.",
          "type": "string"
        },
        "finnhubIndustry": {
          "description": "Finnhub industry classification.",
          "type": "string"
        }
      }
    },
    "Company": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Executive name",
          "type": "string"
        },
        "age": {
          "description": "Age",
          "type": "integer",
          "format": "int64"
        },
        "title": {
          "description": "Title",
          "type": "string"
        },
        "since": {
          "description": "Year first appointed as executive/director of the company",
          "type": "string"
        },
        "sex": {
          "description": "Sex",
          "type": "string"
        },
        "compensation": {
          "description": "Total compensation",
          "type": "integer",
          "format": "int64"
        },
        "currency": {
          "description": "Compensation currency",
          "type": "string"
        }
      }
    },
    "CompanyExecutive": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        },
        "executive": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Company"
          },
          "description": "Array of company's executives and members of the Board."
        }
      }
    },
    "MarketNews": {
      "type": "object",
      "properties": {
        "category": {
          "description": "News category.",
          "type": "string"
        },
        "datetime": {
          "description": "Published time in UNIX timestamp.",
          "type": "integer",
          "format": "int64"
        },
        "headline": {
          "description": "News headline.",
          "type": "string"
        },
        "id": {
          "description": "News ID. This value can be used for <code>minId</code> params to get the latest news only.",
          "type": "integer",
          "format": "int64"
        },
        "image": {
          "description": "Thumbnail image URL.",
          "type": "string"
        },
        "related": {
          "description": "Related stocks and companies mentioned in the article.",
          "type": "string"
        },
        "source": {
          "description": "News source.",
          "type": "string"
        },
        "summary": {
          "description": "News summary.",
          "type": "string"
        },
        "url": {
          "description": "URL of the original article.",
          "type": "string"
        }
      }
    },
    "CompanyNews": {
      "type": "object",
      "properties": {
        "category": {
          "description": "News category.",
          "type": "string"
        },
        "datetime": {
          "description": "Published time in UNIX timestamp.",
          "type": "integer",
          "format": "int64"
        },
        "headline": {
          "description": "News headline.",
          "type": "string"
        },
        "id": {
          "description": "News ID. This value can be used for <code>minId</code> params to get the latest news only.",
          "type": "integer",
          "format": "int64"
        },
        "image": {
          "description": "Thumbnail image URL.",
          "type": "string"
        },
        "related": {
          "description": "Related stocks and companies mentioned in the article.",
          "type": "string"
        },
        "source": {
          "description": "News source.",
          "type": "string"
        },
        "summary": {
          "description": "News summary.",
          "type": "string"
        },
        "url": {
          "description": "URL of the original article.",
          "type": "string"
        }
      }
    },
    "Development": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        },
        "datetime": {
          "description": "Published time in <code>YYYY-MM-DD HH:MM:SS</code> format.",
          "type": "string",
          "formatIgnore": "date-time"
        },
        "headline": {
          "description": "Development headline.",
          "type": "string"
        },
        "description": {
          "description": "Development description.",
          "type": "string"
        },
        "url": {
          "description": "URL.",
          "type": "string"
        }
      }
    },
    "PressRelease": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        },
        "majorDevelopment": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Development"
          },
          "description": "Array of major developments."
        }
      }
    },
    "CompanyNewsStatistics": {
      "type": "object",
      "properties": {
        "articlesInLastWeek": {
          "description": "",
          "type": "integer",
          "format": "int64"
        },
        "buzz": {
          "description": "",
          "type": "number",
          "format": "float"
        },
        "weeklyAverage": {
          "description": "",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Sentiment": {
      "type": "object",
      "properties": {
        "bearishPercent": {
          "description": "",
          "type": "number",
          "format": "float"
        },
        "bullishPercent": {
          "description": "",
          "type": "number",
          "format": "float"
        }
      }
    },
    "NewsSentiment": {
      "type": "object",
      "properties": {
        "buzz": {
          "type": "object",
          "$ref": "#/definitions/CompanyNewsStatistics",
          "description": "Statistics of company news in the past week."
        },
        "companyNewsScore": {
          "description": "News score.",
          "type": "number",
          "format": "float"
        },
        "sectorAverageBullishPercent": {
          "description": "Sector average bullish percent.",
          "type": "number",
          "format": "float"
        },
        "sectorAverageNewsScore": {
          "description": "Sectore average score.",
          "type": "number",
          "format": "float"
        },
        "sentiment": {
          "type": "object",
          "$ref": "#/definitions/Sentiment",
          "description": "News sentiment."
        },
        "symbol": {
          "description": "Requested symbol.",
          "type": "string"
        }
      }
    },
    "MetricSeriesMap": {
      "type": "object"
    },
    "MetricMap": {
      "type": "object"
    },
    "PriceMetricMap": {
      "type": "object"
    },
    "BasicFinancials": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol of the company.",
          "type": "string"
        },
        "metricType": {
          "description": "Metric type.",
          "type": "string"
        },
        "series": {
          "type": "object",
          "$ref": "#/definitions/MetricSeriesMap",
          "description": "Map key-value pair of time-series ratios."
        },
        "metric": {
          "type": "object",
          "$ref": "#/definitions/MetricMap",
          "description": "Map key-value pair of key ratios and metrics."
        }
      }
    },
    "PriceMetrics": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol of the company.",
          "type": "string"
        },
        "atDate": {
          "description": "Data date.",
          "type": "string"
        },
        "data": {
          "type": "object",
          "$ref": "#/definitions/PriceMetricMap",
          "description": "Map key-value pair of key ratios and metrics."
        }
      }
    },
    "CongressionalTransaction": {
      "type": "object",
      "properties": {
        "amountFrom": {
          "description": "Transaction amount from.",
          "type": "number",
          "format": "float"
        },
        "amountTo": {
          "description": "Transaction amount to.",
          "type": "number",
          "format": "float"
        },
        "assetName": {
          "description": "Asset name.",
          "type": "string"
        },
        "filingDate": {
          "description": "Filing date.",
          "type": "string"
        },
        "name": {
          "description": "Name of the representative.",
          "type": "string"
        },
        "ownerType": {
          "description": "Owner Type.",
          "type": "string"
        },
        "position": {
          "description": "Position.",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "transactionDate": {
          "description": "Transaction date.",
          "type": "string"
        },
        "transactionType": {
          "description": "Transaction type <code>Sale</code> or <code>Purchase</code>.",
          "type": "string"
        }
      }
    },
    "CongressionalTrading": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol of the company.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CongressionalTransaction"
          },
          "description": "Array of stock trades."
        }
      }
    },
    "IsinChangeInfo": {
      "type": "object",
      "properties": {
        "atDate": {
          "description": "Event's date.",
          "type": "string"
        },
        "oldIsin": {
          "description": "Old ISIN.",
          "type": "string"
        },
        "newIsin": {
          "description": "New ISIN.",
          "type": "string"
        }
      }
    },
    "IsinChange": {
      "type": "object",
      "properties": {
        "fromDate": {
          "description": "From date.",
          "type": "string"
        },
        "toDate": {
          "description": "To date.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IsinChangeInfo"
          },
          "description": "Array of ISIN change events."
        }
      }
    },
    "SymbolChangeInfo": {
      "type": "object",
      "properties": {
        "atDate": {
          "description": "Event's date.",
          "type": "string"
        },
        "oldSymbol": {
          "description": "Old symbol.",
          "type": "string"
        },
        "newSymbol": {
          "description": "New symbol.",
          "type": "string"
        }
      }
    },
    "SymbolChange": {
      "type": "object",
      "properties": {
        "fromDate": {
          "description": "From date.",
          "type": "string"
        },
        "toDate": {
          "description": "To date.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SymbolChangeInfo"
          },
          "description": "Array of symbol change events."
        }
      }
    },
    "InstitutionalPortfolioInfo": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP.",
          "type": "string"
        },
        "name": {
          "description": "Position's name.",
          "type": "string"
        },
        "putCall": {
          "description": "<code>put</code> or <code>call</code> for options.",
          "type": "string"
        },
        "change": {
          "description": "Number of shares change.",
          "type": "number",
          "format": "float"
        },
        "noVoting": {
          "description": "Number of shares with no voting rights.",
          "type": "number",
          "format": "float"
        },
        "percentage": {
          "description": "Percentage of portfolio.",
          "type": "number",
          "format": "float"
        },
        "share": {
          "description": "Number of shares.",
          "type": "number",
          "format": "float"
        },
        "sharedVoting": {
          "description": "Number of shares with shared voting rights.",
          "type": "number",
          "format": "float"
        },
        "soleVoting": {
          "description": "Number of shares with sole voting rights.",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Position value.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "InstitutionalPortfolioGroup": {
      "type": "object",
      "properties": {
        "reportDate": {
          "description": "Report date.",
          "type": "string"
        },
        "filingDate": {
          "description": "Filing date.",
          "type": "string"
        },
        "portfolio": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalPortfolioInfo"
          },
          "description": "Array of positions."
        }
      }
    },
    "InstitutionalPortfolio": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Investor's name.",
          "type": "string"
        },
        "cik": {
          "description": "CIK.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalPortfolioGroup"
          },
          "description": "Array of positions."
        }
      }
    },
    "InstitutionalOwnershipInfo": {
      "type": "object",
      "properties": {
        "cik": {
          "description": "Investor's company CIK.",
          "type": "string"
        },
        "name": {
          "description": "Firm's name.",
          "type": "string"
        },
        "putCall": {
          "description": "<code>put</code> or <code>call</code> for options.",
          "type": "string"
        },
        "change": {
          "description": "Number of shares change.",
          "type": "number",
          "format": "float"
        },
        "noVoting": {
          "description": "Number of shares with no voting rights.",
          "type": "number",
          "format": "float"
        },
        "percentage": {
          "description": "Percentage of portfolio.",
          "type": "number",
          "format": "float"
        },
        "share": {
          "description": "News score.",
          "type": "number",
          "format": "float"
        },
        "sharedVoting": {
          "description": "Number of shares with shared voting rights.",
          "type": "number",
          "format": "float"
        },
        "soleVoting": {
          "description": "Number of shares with sole voting rights.",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Position value.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "InstitutionalOwnershipGroup": {
      "type": "object",
      "properties": {
        "reportDate": {
          "description": "Report date.",
          "type": "string"
        },
        "ownership": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalOwnershipInfo"
          },
          "description": "Array of institutional investors."
        }
      }
    },
    "InstitutionalOwnership": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "cusip": {
          "description": "Cusip.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalOwnershipGroup"
          },
          "description": "Array of institutional investors."
        }
      }
    },
    "InstitutionalProfileInfo": {
      "type": "object",
      "properties": {
        "cik": {
          "description": "Investor's company CIK.",
          "type": "string"
        },
        "firmType": {
          "description": "Firm type.",
          "type": "string"
        },
        "manager": {
          "description": "Manager.",
          "type": "string"
        },
        "philosophy": {
          "description": "Investing philosophy.",
          "type": "string"
        },
        "profile": {
          "description": "Profile info.",
          "type": "string"
        },
        "profileImg": {
          "description": "Profile image.",
          "type": "string"
        }
      }
    },
    "InstitutionalProfile": {
      "type": "object",
      "properties": {
        "cik": {
          "description": "CIK.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstitutionalProfileInfo"
          },
          "description": "Array of investors."
        }
      }
    },
    "OwnershipInfo": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Investor's name.",
          "type": "string"
        },
        "share": {
          "description": "Number of shares held by the investor.",
          "type": "integer",
          "format": "int64"
        },
        "change": {
          "description": "Number of share changed (net buy or sell) from the last period.",
          "type": "integer",
          "format": "int64"
        },
        "filingDate": {
          "description": "Filing date.",
          "type": "string",
          "format": "date"
        }
      }
    },
    "Ownership": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol of the company.",
          "type": "string"
        },
        "ownership": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OwnershipInfo"
          },
          "description": "Array of investors with detailed information about their holdings."
        }
      }
    },
    "FundOwnershipInfo": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Investor's name.",
          "type": "string"
        },
        "share": {
          "description": "Number of shares held by the investor.",
          "type": "integer",
          "format": "int64"
        },
        "change": {
          "description": "Number of share changed (net buy or sell) from the last period.",
          "type": "integer",
          "format": "int64"
        },
        "filingDate": {
          "description": "Filing date.",
          "type": "string",
          "format": "date"
        },
        "portfolioPercent": {
          "description": "Percent of the fund's portfolio comprised of the company's share.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "FundOwnership": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol of the company.",
          "type": "string"
        },
        "ownership": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FundOwnershipInfo"
          },
          "description": "Array of investors with detailed information about their holdings."
        }
      }
    },
    "Transactions": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "name": {
          "description": "Insider's name.",
          "type": "string"
        },
        "share": {
          "description": "Number of shares held after the transaction.",
          "type": "integer",
          "format": "int64"
        },
        "change": {
          "description": "Number of share changed from the last period. A positive value suggests a <code>BUY</code> transaction. A negative value suggests a <code>SELL</code> transaction.",
          "type": "integer",
          "format": "int64"
        },
        "filingDate": {
          "description": "Filing date.",
          "type": "string",
          "format": "date"
        },
        "transactionDate": {
          "description": "Transaction date.",
          "type": "string",
          "format": "date"
        },
        "transactionPrice": {
          "description": "Average transaction price.",
          "type": "number",
          "format": "float"
        },
        "transactionCode": {
          "description": "Transaction code. A list of codes and their meanings can be found <a href=\"https://www.sec.gov/about/forms/form4data.pdf\" target=\"_blank\" rel=\"noopener\">here</a>.",
          "type": "string"
        }
      }
    },
    "InsiderTransactions": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol of the company.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Transactions"
          },
          "description": "Array of insider transactions."
        }
      }
    },
    "InsiderSentimentsData": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "year": {
          "description": "Year.",
          "type": "integer",
          "format": "int64"
        },
        "month": {
          "description": "Month.",
          "type": "integer",
          "format": "int64"
        },
        "change": {
          "description": "Net buying/selling from all insiders' transactions.",
          "type": "integer",
          "format": "int64"
        },
        "mspr": {
          "description": "Monthly share purchase ratio.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "InsiderSentiments": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol of the company.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InsiderSentimentsData"
          },
          "description": "Array of sentiment data."
        }
      }
    },
    "FinancialMap": {
      "type": "object"
    },
    "FinancialStatements": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol of the company.",
          "type": "string"
        },
        "financials": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FinancialMap"
          },
          "description": "An array of map of key, value pairs containing the data for each period."
        }
      }
    },
    "ReportDataMap": {
      "type": "object"
    },
    "Report": {
      "type": "object",
      "properties": {
        "accessNumber": {
          "description": "Access number.",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "cik": {
          "description": "CIK.",
          "type": "string"
        },
        "year": {
          "description": "Year.",
          "type": "integer",
          "format": "int64"
        },
        "quarter": {
          "description": "Quarter.",
          "type": "integer",
          "format": "int64"
        },
        "form": {
          "description": "Form type.",
          "type": "string"
        },
        "startDate": {
          "description": "Period start date <code>%Y-%m-%d %H:%M:%S</code>.",
          "type": "string",
          "formatIgnore": "date-time"
        },
        "endDate": {
          "description": "Period end date <code>%Y-%m-%d %H:%M:%S</code>.",
          "type": "string",
          "formatIgnore": "date-time"
        },
        "filedDate": {
          "description": "Filed date <code>%Y-%m-%d %H:%M:%S</code>.",
          "type": "string",
          "formatIgnore": "date-time"
        },
        "acceptedDate": {
          "description": "Accepted date <code>%Y-%m-%d %H:%M:%S</code>.",
          "type": "string",
          "formatIgnore": "date-time"
        },
        "report": {
          "type": "object",
          "$ref": "#/definitions/ReportDataMap",
          "description": "Report data."
        }
      }
    },
    "FinancialsAsReported": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol",
          "type": "string"
        },
        "cik": {
          "description": "CIK",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Report"
          },
          "description": "Array of filings."
        }
      }
    },
    "BreakdownItemMap": {
      "type": "object"
    },
    "BreakdownItem": {
      "type": "object",
      "properties": {
        "accessNumber": {
          "description": "Access number of the report from which the data is sourced.",
          "type": "string"
        },
        "breakdown": {
          "type": "object",
          "$ref": "#/definitions/BreakdownItemMap",
          "description": "Revenue breakdown."
        }
      }
    },
    "RevenueBreakdown": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol",
          "type": "string"
        },
        "cik": {
          "description": "CIK",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BreakdownItem"
          },
          "description": "Array of revenue breakdown over multiple periods."
        }
      }
    },
    "Filing": {
      "type": "object",
      "properties": {
        "accessNumber": {
          "description": "Access number.",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "cik": {
          "description": "CIK.",
          "type": "string"
        },
        "form": {
          "description": "Form type.",
          "type": "string"
        },
        "filedDate": {
          "description": "Filed date <code>%Y-%m-%d %H:%M:%S</code>.",
          "type": "string",
          "formatIgnore": "date-time"
        },
        "acceptedDate": {
          "description": "Accepted date <code>%Y-%m-%d %H:%M:%S</code>.",
          "type": "string",
          "formatIgnore": "date-time"
        },
        "reportUrl": {
          "description": "Report's URL.",
          "type": "string"
        },
        "filingUrl": {
          "description": "Filing's URL.",
          "type": "string"
        }
      }
    },
    "InternationalFiling": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "companyName": {
          "description": "Company name.",
          "type": "string"
        },
        "filedDate": {
          "description": "Filed date <code>%Y-%m-%d %H:%M:%S</code>.",
          "type": "string",
          "formatIgnore": "date-time"
        },
        "category": {
          "description": "Category.",
          "type": "string"
        },
        "title": {
          "description": "Document's title.",
          "type": "string"
        },
        "description": {
          "description": "Document's description.",
          "type": "string"
        },
        "url": {
          "description": "Url.",
          "type": "string"
        },
        "language": {
          "description": "Language.",
          "type": "string"
        },
        "country": {
          "description": "Country.",
          "type": "string"
        }
      }
    },
    "FilingSentiment": {
      "type": "object",
      "properties": {
        "negative": {
          "description": "% of negative words in the filing.",
          "type": "number",
          "format": "float"
        },
        "positive": {
          "description": "% of positive words in the filing.",
          "type": "number",
          "format": "float"
        },
        "polarity": {
          "description": "% of polarity words in the filing.",
          "type": "number",
          "format": "float"
        },
        "litigious": {
          "description": "% of litigious words in the filing.",
          "type": "number",
          "format": "float"
        },
        "uncertainty": {
          "description": "% of uncertainty words in the filing.",
          "type": "number",
          "format": "float"
        },
        "constraining": {
          "description": "% of constraining words in the filing.",
          "type": "number",
          "format": "float"
        },
        "modal-weak": {
          "description": "% of modal-weak words in the filing.",
          "type": "number",
          "format": "float"
        },
        "modal-strong": {
          "description": "% of modal-strong words in the filing.",
          "type": "number",
          "format": "float"
        },
        "modal-moderate": {
          "description": "% of modal-moderate words in the filing.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "SECSentimentAnalysis": {
      "type": "object",
      "properties": {
        "accessNumber": {
          "description": "Access number.",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "cik": {
          "description": "CIK.",
          "type": "string"
        },
        "sentiment": {
          "type": "object",
          "$ref": "#/definitions/FilingSentiment",
          "description": "Filing Sentiment"
        }
      }
    },
    "SimilarityIndexInfo": {
      "type": "object",
      "properties": {
        "cik": {
          "description": "CIK.",
          "type": "string"
        },
        "item1": {
          "description": "Cosine similarity of Item 1 (Business). This number is only available for Annual reports.",
          "type": "number",
          "format": "float"
        },
        "item1a": {
          "description": "Cosine similarity of Item 1A (Risk Factors). This number is available for both Annual and Quarterly reports.",
          "type": "number",
          "format": "float"
        },
        "item2": {
          "description": "Cosine similarity of Item 2 (Management\u2019s Discussion and Analysis of Financial Condition and Results of Operations). This number is only available for Quarterly reports.",
          "type": "number",
          "format": "float"
        },
        "item7": {
          "description": "Cosine similarity of Item 7 (Management\u2019s Discussion and Analysis of Financial Condition and Results of Operations). This number is only available for Annual reports.",
          "type": "number",
          "format": "float"
        },
        "item7a": {
          "description": "Cosine similarity of Item 7A (Quantitative and Qualitative Disclosures About Market Risk). This number is only available for Annual reports.",
          "type": "number",
          "format": "float"
        },
        "accessNumber": {
          "description": "Access number.",
          "type": "string"
        },
        "form": {
          "description": "Form type.",
          "type": "string"
        },
        "filedDate": {
          "description": "Filed date <code>%Y-%m-%d %H:%M:%S</code>.",
          "type": "string",
          "formatIgnore": "date-time"
        },
        "acceptedDate": {
          "description": "Accepted date <code>%Y-%m-%d %H:%M:%S</code>.",
          "type": "string",
          "formatIgnore": "date-time"
        },
        "reportUrl": {
          "description": "Report's URL.",
          "type": "string"
        },
        "filingUrl": {
          "description": "Filing's URL.",
          "type": "string"
        }
      }
    },
    "SimilarityIndex": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "cik": {
          "description": "CIK.",
          "type": "string"
        },
        "similarity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimilarityIndexInfo"
          },
          "description": "Array of filings with its cosine similarity compared to the same report of the previous year."
        }
      }
    },
    "IPOEvent": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "date": {
          "description": "IPO date.",
          "type": "string",
          "format": "date"
        },
        "exchange": {
          "description": "Exchange.",
          "type": "string"
        },
        "name": {
          "description": "Company's name.",
          "type": "string"
        },
        "status": {
          "description": "IPO status. Can take 1 of the following values: <code>expected</code>,<code>priced</code>,<code>withdrawn</code>,<code>filed</code>",
          "type": "string"
        },
        "price": {
          "description": "Projected price or price range.",
          "type": "string"
        },
        "numberOfShares": {
          "description": "Number of shares offered during the IPO.",
          "type": "number",
          "format": "float"
        },
        "totalSharesValue": {
          "description": "Total shares value.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "IPOCalendar": {
      "type": "object",
      "properties": {
        "ipoCalendar": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPOEvent"
          },
          "description": "Array of IPO events."
        }
      }
    },
    "Dividends": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "date": {
          "description": "Ex-Dividend date.",
          "type": "string",
          "format": "date"
        },
        "amount": {
          "description": "Amount in local currency.",
          "type": "number",
          "format": "float"
        },
        "adjustedAmount": {
          "description": "Adjusted dividend.",
          "type": "number",
          "format": "float"
        },
        "payDate": {
          "description": "Pay date.",
          "type": "string",
          "format": "date"
        },
        "recordDate": {
          "description": "Record date.",
          "type": "string",
          "format": "date"
        },
        "declarationDate": {
          "description": "Declaration date.",
          "type": "string",
          "format": "date"
        },
        "currency": {
          "description": "Currency.",
          "type": "string"
        },
        "freq": {
          "description": "<p>Dividend frequency. Can be 1 of the following values:</p><ul>\n<li><code>0: Annually</code></li>\n<li><code>1: Monthly</code></li>\n<li><code>2: Quarterly</code></li>\n<li><code>3: Semi-annually</code></li>\n<li><code>4: Other/Unknown</code></li>\n<li><code>5: Bimonthly</code></li>\n<li><code>6: Trimesterly</code></li>\n<li><code>7: Weekly</code></li>\n</ul>",
          "type": "string"
        }
      }
    },
    "Dividends2Info": {
      "type": "object",
      "properties": {
        "exDate": {
          "description": "Ex-Dividend date.",
          "type": "string",
          "format": "date"
        },
        "amount": {
          "description": "Amount in local currency.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "RecommendationTrend": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        },
        "buy": {
          "description": "Number of recommendations that fall into the Buy category",
          "type": "integer",
          "format": "int64"
        },
        "hold": {
          "description": "Number of recommendations that fall into the Hold category",
          "type": "integer",
          "format": "int64"
        },
        "period": {
          "description": "Updated period",
          "type": "string"
        },
        "sell": {
          "description": "Number of recommendations that fall into the Sell category",
          "type": "integer",
          "format": "int64"
        },
        "strongBuy": {
          "description": "Number of recommendations that fall into the Strong Buy category",
          "type": "integer",
          "format": "int64"
        },
        "strongSell": {
          "description": "Number of recommendations that fall into the Strong Sell category",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "PriceTarget": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        },
        "targetHigh": {
          "description": "Highes analysts' target.",
          "type": "number",
          "format": "float"
        },
        "targetLow": {
          "description": "Lowest analysts' target.",
          "type": "number",
          "format": "float"
        },
        "targetMean": {
          "description": "Mean of all analysts' targets.",
          "type": "number",
          "format": "float"
        },
        "targetMedian": {
          "description": "Median of all analysts' targets.",
          "type": "number",
          "format": "float"
        },
        "numberAnalysts": {
          "description": "Number of Analysts.",
          "type": "integer",
          "format": "int64"
        },
        "lastUpdated": {
          "description": "Updated time of the data",
          "type": "string",
          "formatIgnore": "date-time"
        }
      }
    },
    "UpgradeDowngrade": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        },
        "gradeTime": {
          "description": "Upgrade/downgrade time in UNIX timestamp.",
          "type": "integer",
          "format": "int64"
        },
        "fromGrade": {
          "description": "From grade.",
          "type": "string"
        },
        "toGrade": {
          "description": "To grade.",
          "type": "string"
        },
        "company": {
          "description": "Company/analyst who did the upgrade/downgrade.",
          "type": "string"
        },
        "action": {
          "description": "Action can take any of the following values: <code>up(upgrade), down(downgrade), main(maintains), init(initiate), reit(reiterate)</code>.",
          "type": "string"
        }
      }
    },
    "RevenueEstimatesInfo": {
      "type": "object",
      "properties": {
        "revenueAvg": {
          "description": "Average revenue estimates including Finnhub's proprietary estimates.",
          "type": "number",
          "format": "float"
        },
        "revenueHigh": {
          "description": "Highest estimate.",
          "type": "number",
          "format": "float"
        },
        "revenueLow": {
          "description": "Lowest estimate.",
          "type": "number",
          "format": "float"
        },
        "numberAnalysts": {
          "description": "Number of Analysts.",
          "type": "integer",
          "format": "int64"
        },
        "period": {
          "description": "Period.",
          "type": "string",
          "format": "date"
        },
        "year": {
          "description": "Fiscal year.",
          "type": "integer",
          "format": "int64"
        },
        "quarter": {
          "description": "Fiscal quarter.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "RevenueEstimates": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RevenueEstimatesInfo"
          },
          "description": "List of estimates"
        },
        "freq": {
          "description": "Frequency: annual or quarterly.",
          "type": "string"
        },
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        }
      }
    },
    "EbitdaEstimatesInfo": {
      "type": "object",
      "properties": {
        "ebitdaAvg": {
          "description": "Average EBITDA estimates including Finnhub's proprietary estimates.",
          "type": "number",
          "format": "float"
        },
        "ebitdaHigh": {
          "description": "Highest estimate.",
          "type": "number",
          "format": "float"
        },
        "ebitdaLow": {
          "description": "Lowest estimate.",
          "type": "number",
          "format": "float"
        },
        "numberAnalysts": {
          "description": "Number of Analysts.",
          "type": "integer",
          "format": "int64"
        },
        "period": {
          "description": "Period.",
          "type": "string",
          "format": "date"
        },
        "year": {
          "description": "Fiscal year.",
          "type": "integer",
          "format": "int64"
        },
        "quarter": {
          "description": "Fiscal quarter.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "EbitdaEstimates": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EbitdaEstimatesInfo"
          },
          "description": "List of estimates"
        },
        "freq": {
          "description": "Frequency: annual or quarterly.",
          "type": "string"
        },
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        }
      }
    },
    "EbitEstimatesInfo": {
      "type": "object",
      "properties": {
        "ebitAvg": {
          "description": "Average EBIT estimates including Finnhub's proprietary estimates.",
          "type": "number",
          "format": "float"
        },
        "ebitHigh": {
          "description": "Highest estimate.",
          "type": "number",
          "format": "float"
        },
        "ebitLow": {
          "description": "Lowest estimate.",
          "type": "number",
          "format": "float"
        },
        "numberAnalysts": {
          "description": "Number of Analysts.",
          "type": "integer",
          "format": "int64"
        },
        "period": {
          "description": "Period.",
          "type": "string",
          "format": "date"
        },
        "year": {
          "description": "Fiscal year.",
          "type": "integer",
          "format": "int64"
        },
        "quarter": {
          "description": "Fiscal quarter.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "EbitEstimates": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EbitEstimatesInfo"
          },
          "description": "List of estimates"
        },
        "freq": {
          "description": "Frequency: annual or quarterly.",
          "type": "string"
        },
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        }
      }
    },
    "EarningsEstimatesInfo": {
      "type": "object",
      "properties": {
        "epsAvg": {
          "description": "Average EPS estimates including Finnhub's proprietary estimates.",
          "type": "number",
          "format": "float"
        },
        "epsHigh": {
          "description": "Highest estimate.",
          "type": "number",
          "format": "float"
        },
        "epsLow": {
          "description": "Lowest estimate.",
          "type": "number",
          "format": "float"
        },
        "numberAnalysts": {
          "description": "Number of Analysts.",
          "type": "integer",
          "format": "int64"
        },
        "period": {
          "description": "Period.",
          "type": "string",
          "format": "date"
        },
        "year": {
          "description": "Fiscal year.",
          "type": "integer",
          "format": "int64"
        },
        "quarter": {
          "description": "Fiscal quarter.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "EarningsEstimates": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EarningsEstimatesInfo"
          },
          "description": "List of estimates"
        },
        "freq": {
          "description": "Frequency: annual or quarterly.",
          "type": "string"
        },
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        }
      }
    },
    "EarningResult": {
      "type": "object",
      "properties": {
        "actual": {
          "description": "Actual earning result.",
          "type": "number",
          "format": "float"
        },
        "estimate": {
          "description": "Estimated earning.",
          "type": "number",
          "format": "float"
        },
        "surprise": {
          "description": "Surprise - The difference between actual and estimate.",
          "type": "number",
          "format": "float"
        },
        "surprisePercent": {
          "description": "Surprise percent.",
          "type": "number",
          "format": "float"
        },
        "period": {
          "description": "Reported period.",
          "type": "string",
          "format": "date"
        },
        "symbol": {
          "description": "Company symbol.",
          "type": "string"
        },
        "year": {
          "description": "Fiscal year.",
          "type": "integer",
          "format": "int64"
        },
        "quarter": {
          "description": "Fiscal quarter.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "EarningRelease": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "date": {
          "description": "Date.",
          "type": "string",
          "format": "date"
        },
        "hour": {
          "description": "Indicates whether the earnings is announced before market open(<code>bmo</code>), after market close(<code>amc</code>), or during market hour(<code>dmh</code>).",
          "type": "string"
        },
        "year": {
          "description": "Earnings year.",
          "type": "integer",
          "format": "int64"
        },
        "quarter": {
          "description": "Earnings quarter.",
          "type": "integer",
          "format": "int64"
        },
        "epsEstimate": {
          "description": "EPS estimate.",
          "type": "number",
          "format": "float"
        },
        "epsActual": {
          "description": "EPS actual.",
          "type": "number",
          "format": "float"
        },
        "revenueEstimate": {
          "description": "Revenue estimate including Finnhub's proprietary estimates.",
          "type": "number",
          "format": "float"
        },
        "revenueActual": {
          "description": "Revenue actual.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "EarningsCalendar": {
      "type": "object",
      "properties": {
        "earningsCalendar": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EarningRelease"
          },
          "description": "Array of earnings release."
        }
      }
    },
    "EarningsCallLiveResult": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "event": {
          "description": "Event name.",
          "type": "string"
        },
        "time": {
          "description": "Date time in UTC.",
          "type": "string",
          "format": "datetime"
        },
        "year": {
          "description": "Earnings year.",
          "type": "integer",
          "format": "int64"
        },
        "quarter": {
          "description": "Earnings quarter.",
          "type": "integer",
          "format": "int64"
        },
        "liveAudio": {
          "description": "Live audio streaming file.",
          "type": "string"
        },
        "recording": {
          "description": "Recoding in mp3 format.",
          "type": "string"
        }
      }
    },
    "EarningsCallLive": {
      "type": "object",
      "properties": {
        "event": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EarningsCallLiveResult"
          },
          "description": "Array of earnings call events that support live streaming."
        }
      }
    },
    "Quote": {
      "type": "object",
      "properties": {
        "o": {
          "description": "Open price of the day",
          "type": "number",
          "format": "float"
        },
        "h": {
          "description": "High price of the day",
          "type": "number",
          "format": "float"
        },
        "l": {
          "description": "Low price of the day",
          "type": "number",
          "format": "float"
        },
        "c": {
          "description": "Current price",
          "type": "number",
          "format": "float"
        },
        "pc": {
          "description": "Previous close price",
          "type": "number",
          "format": "float"
        },
        "d": {
          "description": "Change",
          "type": "number",
          "format": "float"
        },
        "dp": {
          "description": "Percent change",
          "type": "number",
          "format": "float"
        }
      }
    },
    "StockCandles": {
      "type": "object",
      "properties": {
        "o": {
          "type": "array",
          "description": "List of open prices for returned candles.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "h": {
          "type": "array",
          "description": "List of high prices for returned candles.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "l": {
          "type": "array",
          "description": "List of low prices for returned candles.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "c": {
          "type": "array",
          "description": "List of close prices for returned candles.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "v": {
          "type": "array",
          "description": "List of volume data for returned candles.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "t": {
          "type": "array",
          "description": "List of timestamp for returned candles.",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "s": {
          "description": "Status of the response. This field can either be ok or no_data.",
          "type": "string"
        }
      }
    },
    "TickData": {
      "type": "object",
      "properties": {
        "s": {
          "description": "Symbol.",
          "type": "string"
        },
        "skip": {
          "description": "Number of ticks skipped.",
          "type": "integer",
          "format": "int64"
        },
        "count": {
          "description": "Number of ticks returned. If <code>count</code> < <code>limit</code>, all data for that date has been returned.",
          "type": "integer",
          "format": "int64"
        },
        "total": {
          "description": "Total number of ticks for that date.",
          "type": "integer",
          "format": "int64"
        },
        "v": {
          "type": "array",
          "description": "List of volume data.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "p": {
          "type": "array",
          "description": "List of price data.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "t": {
          "type": "array",
          "description": "List of timestamp in UNIX ms.",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "x": {
          "type": "array",
          "description": "List of venues/exchanges. A list of exchange codes can be found <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1Tj53M1svmr-hfEtbk6_NpVR1yAyGLMaH6ByYU6CG0ZY/edit?usp=sharing\",>here</a>",
          "items": {
            "type": "string"
          }
        },
        "c": {
          "type": "array",
          "description": "List of trade conditions. A comprehensive list of trade conditions code can be found <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1PUxiSWPHSODbaTaoL2Vef6DgU-yFtlRGZf19oBb9Hp0/edit?usp=sharing\">here</a>",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "BondTickData": {
      "type": "object",
      "properties": {
        "skip": {
          "description": "Number of ticks skipped.",
          "type": "integer",
          "format": "int64"
        },
        "count": {
          "description": "Number of ticks returned. If <code>count</code> < <code>limit</code>, all data for that date has been returned.",
          "type": "integer",
          "format": "int64"
        },
        "total": {
          "description": "Total number of ticks for that date.",
          "type": "integer",
          "format": "int64"
        },
        "v": {
          "type": "array",
          "description": "List of volume data.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "p": {
          "type": "array",
          "description": "List of price data.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "y": {
          "type": "array",
          "description": "List of yield data.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "t": {
          "type": "array",
          "description": "List of timestamp in UNIX ms.",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "si": {
          "type": "array",
          "description": "List of values showing the side (Buy/sell) of each trade. List of supported values: <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1O3aueXSPOqo7Iuyz4PqDG6yZunHsX8BTefZ2kFk5pz4/edit?usp=sharing\",>here</a>",
          "items": {
            "type": "string"
          }
        },
        "cp": {
          "type": "array",
          "description": "List of values showing the counterparty of each trade. List of supported values: <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1O3aueXSPOqo7Iuyz4PqDG6yZunHsX8BTefZ2kFk5pz4/edit?usp=sharing\",>here</a>",
          "items": {
            "type": "string"
          }
        },
        "rp": {
          "type": "array",
          "description": "List of values showing the reporting party of each trade. List of supported values: <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1O3aueXSPOqo7Iuyz4PqDG6yZunHsX8BTefZ2kFk5pz4/edit?usp=sharing\",>here</a>",
          "items": {
            "type": "string"
          }
        },
        "ats": {
          "type": "array",
          "description": "ATS flag. Y or empty",
          "items": {
            "type": "string"
          }
        },
        "c": {
          "type": "array",
          "description": "List of trade conditions. A comprehensive list of trade conditions code can be found <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1O3aueXSPOqo7Iuyz4PqDG6yZunHsX8BTefZ2kFk5pz4/edit?usp=sharing\">here</a>",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "HistoricalNBBO": {
      "type": "object",
      "properties": {
        "s": {
          "description": "Symbol.",
          "type": "string"
        },
        "skip": {
          "description": "Number of ticks skipped.",
          "type": "integer",
          "format": "int64"
        },
        "count": {
          "description": "Number of ticks returned. If <code>count</code> < <code>limit</code>, all data for that date has been returned.",
          "type": "integer",
          "format": "int64"
        },
        "total": {
          "description": "Total number of ticks for that date.",
          "type": "integer",
          "format": "int64"
        },
        "av": {
          "type": "array",
          "description": "List of Ask volume data.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "a": {
          "type": "array",
          "description": "List of Ask price data.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "ax": {
          "type": "array",
          "description": "List of venues/exchanges - Ask price. A list of exchange codes can be found <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1Tj53M1svmr-hfEtbk6_NpVR1yAyGLMaH6ByYU6CG0ZY/edit?usp=sharing\",>here</a>",
          "items": {
            "type": "string"
          }
        },
        "bv": {
          "type": "array",
          "description": "List of Bid volume data.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "b": {
          "type": "array",
          "description": "List of Bid price data.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "bx": {
          "type": "array",
          "description": "List of venues/exchanges - Bid price. A list of exchange codes can be found <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1Tj53M1svmr-hfEtbk6_NpVR1yAyGLMaH6ByYU6CG0ZY/edit?usp=sharing\",>here</a>",
          "items": {
            "type": "string"
          }
        },
        "t": {
          "type": "array",
          "description": "List of timestamp in UNIX ms.",
          "items": {
            "type": "integer",
            "format": "int64"
          }
        },
        "c": {
          "type": "array",
          "description": "List of quote conditions. A comprehensive list of quote conditions code can be found <a target=\"_blank\" href=\"https://docs.google.com/spreadsheets/d/1iiA6e7Osdtai0oPMOUzgAIKXCsay89dFDmsegz6OpEg/edit?usp=sharing\">here</a>",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "LastBid-Ask": {
      "type": "object",
      "properties": {
        "b": {
          "description": "Bid price.",
          "type": "number",
          "format": "float"
        },
        "a": {
          "description": "Ask price.",
          "type": "number",
          "format": "float"
        },
        "bv": {
          "description": "Bid volume.",
          "type": "number",
          "format": "float"
        },
        "av": {
          "description": "Ask volume.",
          "type": "number",
          "format": "float"
        },
        "t": {
          "description": "Reference UNIX timestamp in ms.",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "Split": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "date": {
          "description": "Split date.",
          "type": "string",
          "format": "date"
        },
        "fromFactor": {
          "description": "From factor.",
          "type": "number",
          "format": "float"
        },
        "toFactor": {
          "description": "To factor.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Dividends2": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dividends2Info"
          },
          "description": ""
        }
      }
    },
    "IndicesConstituents": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Index's symbol.",
          "type": "string"
        },
        "constituents": {
          "type": "array",
          "description": "Array of constituents.",
          "items": {
            "type": "string"
          }
        },
        "constituentsBreakdown": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IndicesConstituentsBreakdown"
          },
          "description": "Array of constituents' details."
        }
      }
    },
    "IndicesConstituentsBreakdown": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "name": {
          "description": "Name.",
          "type": "string"
        },
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "cusip": {
          "description": "Cusip.",
          "type": "string"
        },
        "shareClassFIGI": {
          "description": "Global Share Class FIGI.",
          "type": "string"
        },
        "weight": {
          "description": "Weight.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "IndexHistoricalConstituent": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol",
          "type": "string"
        },
        "action": {
          "description": "<code>add</code> or <code>remove</code>.",
          "type": "string"
        },
        "date": {
          "description": "Date of joining or leaving the index.",
          "type": "string",
          "format": "date"
        }
      }
    },
    "IndicesHistoricalConstituents": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Index's symbol.",
          "type": "string"
        },
        "historicalConstituents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IndexHistoricalConstituent"
          },
          "description": "Array of historical constituents."
        }
      }
    },
    "ETFProfileData": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name",
          "type": "string"
        },
        "assetClass": {
          "description": "Asset Class.",
          "type": "string"
        },
        "investmentSegment": {
          "description": "Investment Segment.",
          "type": "string"
        },
        "aum": {
          "description": "AUM.",
          "type": "number",
          "format": "float"
        },
        "nav": {
          "description": "NAV.",
          "type": "number",
          "format": "float"
        },
        "navCurrency": {
          "description": "NAV currency.",
          "type": "string"
        },
        "expenseRatio": {
          "description": "Expense ratio. For non-US funds, this is the <a href=\"https://www.esma.europa.eu/sites/default/files/library/2015/11/09_1028_final_kid_ongoing_charges_methodology_for_publication_u_2_.pdf\" target=\"_blank\">KID ongoing charges<a/>.",
          "type": "number",
          "format": "float"
        },
        "trackingIndex": {
          "description": "Tracking Index.",
          "type": "string"
        },
        "etfCompany": {
          "description": "ETF issuer.",
          "type": "string"
        },
        "domicile": {
          "description": "ETF domicile.",
          "type": "string"
        },
        "inceptionDate": {
          "description": "Inception date.",
          "type": "string",
          "format": "date"
        },
        "website": {
          "description": "ETF's website.",
          "type": "string"
        },
        "logo": {
          "description": "Logo.",
          "type": "string"
        },
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP.",
          "type": "string"
        },
        "priceToEarnings": {
          "description": "P/E.",
          "type": "number",
          "format": "float"
        },
        "priceToBook": {
          "description": "P/B.",
          "type": "number",
          "format": "float"
        },
        "avgVolume": {
          "description": "30-day average volume.",
          "type": "number",
          "format": "float"
        },
        "description": {
          "description": "ETF's description.",
          "type": "string"
        },
        "isInverse": {
          "description": "Whether the ETF is inverse",
          "type": "boolean"
        },
        "isLeveraged": {
          "description": "Whether the ETF is leveraged",
          "type": "boolean"
        },
        "leverageFactor": {
          "description": "Leverage factor.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ETFsProfile": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "profile": {
          "type": "object",
          "$ref": "#/definitions/ETFProfileData",
          "description": "Profile data."
        }
      }
    },
    "ETFHoldingsData": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol description",
          "type": "string"
        },
        "name": {
          "description": "Security name",
          "type": "string"
        },
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP.",
          "type": "string"
        },
        "share": {
          "description": "Number of shares owned by the ETF.",
          "type": "number",
          "format": "float"
        },
        "percent": {
          "description": "Portfolio's percent",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Market value",
          "type": "number",
          "format": "float"
        },
        "assetType": {
          "description": "Asset type. Can be 1 of the following values: <code>Equity</code>, <code>ETP</code>, <code>Fund</code>, <code>Bond</code>, <code>Other</code> or empty.",
          "type": "string"
        }
      }
    },
    "ETFsHoldings": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "ETF symbol.",
          "type": "string"
        },
        "atDate": {
          "description": "Holdings update date.",
          "type": "string",
          "format": "date"
        },
        "numberOfHoldings": {
          "description": "Number of holdings.",
          "type": "integer",
          "format": "int64"
        },
        "holdings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ETFHoldingsData"
          },
          "description": "Array of holdings."
        }
      }
    },
    "ETFSectorExposureData": {
      "type": "object",
      "properties": {
        "industry": {
          "description": "Industry",
          "type": "string"
        },
        "exposure": {
          "description": "Percent of exposure.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ETFsSectorExposure": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "ETF symbol.",
          "type": "string"
        },
        "sectorExposure": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ETFSectorExposureData"
          },
          "description": "Array of industries and exposure levels."
        }
      }
    },
    "ETFCountryExposureData": {
      "type": "object",
      "properties": {
        "country": {
          "description": "Country",
          "type": "string"
        },
        "exposure": {
          "description": "Percent of exposure.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ETFsCountryExposure": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "ETF symbol.",
          "type": "string"
        },
        "countryExposure": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ETFCountryExposureData"
          },
          "description": "Array of countries and and exposure levels."
        }
      }
    },
    "MutualFundProfileData": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name",
          "type": "string"
        },
        "category": {
          "description": "Fund's category.",
          "type": "string"
        },
        "investmentSegment": {
          "description": "Investment Segment.",
          "type": "string"
        },
        "totalNav": {
          "description": "NAV.",
          "type": "number",
          "format": "float"
        },
        "expenseRatio": {
          "description": "Expense ratio.",
          "type": "number",
          "format": "float"
        },
        "benchmark": {
          "description": "Index benchmark.",
          "type": "string"
        },
        "inceptionDate": {
          "description": "Inception date.",
          "type": "string",
          "format": "date"
        },
        "description": {
          "description": "Fund's description.",
          "type": "string"
        },
        "fundFamily": {
          "description": "Fund Family.",
          "type": "string"
        },
        "fundCompany": {
          "description": "Fund Company.",
          "type": "string"
        },
        "manager": {
          "description": "Fund's managers.",
          "type": "string"
        },
        "status": {
          "description": "Status.",
          "type": "string"
        },
        "beta": {
          "description": "Beta.",
          "type": "number",
          "format": "float"
        },
        "deferredLoad": {
          "description": "Deferred load.",
          "type": "number",
          "format": "float"
        },
        "fee12b1": {
          "description": "12B-1 fee.",
          "type": "number",
          "format": "float"
        },
        "frontLoad": {
          "description": "Front Load.",
          "type": "number",
          "format": "float"
        },
        "iraMinInvestment": {
          "description": "IRA minimum investment.",
          "type": "number",
          "format": "float"
        },
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP.",
          "type": "string"
        },
        "maxRedemptionFee": {
          "description": "Max redemption fee.",
          "type": "number",
          "format": "float"
        },
        "standardMinInvestment": {
          "description": "Minimum investment for standard accounts.",
          "type": "number",
          "format": "float"
        },
        "turnover": {
          "description": "Turnover.",
          "type": "number",
          "format": "float"
        },
        "seriesId": {
          "description": "Fund's series ID. This field can be used to group multiple share classes into 1 unique fund.",
          "type": "string"
        },
        "seriesName": {
          "description": "Fund's series name.",
          "type": "string"
        },
        "classId": {
          "description": "Class ID.",
          "type": "string"
        },
        "className": {
          "description": "Class name.",
          "type": "string"
        },
        "sfdrClassification": {
          "description": "SFDR classification for EU funds. Under the new classifications, a fund's strategy will labeled under either Article 6, 8 or 9. Article 6 covers funds which do not integrate any kind of sustainability into the investment process. Article 8, also known as ‘environmental and socially promoting’, applies “… where a financial product promotes, among other characteristics, environmental or social characteristics, or a combination of those characteristics, provided that the companies in which the investments are made follow good governance practices.”. Article 9, also known as ‘products targeting sustainable investments’, covers products targeting bespoke sustainable investments and applies “… where a financial product has sustainable investment as its objective and an index has been designated as a reference benchmark.”",
          "type": "string"
        },
        "currency": {
          "description": "Fund's currency",
          "type": "string"
        }
      }
    },
    "MutualFundProfile": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "profile": {
          "type": "object",
          "$ref": "#/definitions/MutualFundProfileData",
          "description": "Profile data."
        }
      }
    },
    "MutualFundHoldingsData": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol description",
          "type": "string"
        },
        "name": {
          "description": "Security name",
          "type": "string"
        },
        "isin": {
          "description": "ISIN.",
          "type": "string"
        },
        "cusip": {
          "description": "CUSIP.",
          "type": "string"
        },
        "share": {
          "description": "Number of shares.",
          "type": "number",
          "format": "float"
        },
        "percent": {
          "description": "Portfolio's percent",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Market value",
          "type": "number",
          "format": "float"
        },
        "assetType": {
          "description": "Asset type. Can be 1 of the following values: <code>Equity</code>, <code>ETP</code>, <code>Fund</code>, <code>Bond</code>, <code>Other</code> or empty.",
          "type": "string"
        }
      }
    },
    "MutualFundHoldings": {
      "type": "object",
      "properties": {
        "symbol": {
          "description": "Symbol.",
          "type": "string"
        },
        "atDate": {
          "description": "Holdings update date.",
          "type": "string",
          "format": "date"
        },
        "numberOfHoldings": {
          "description": "Number of holdings.",
          "type": "integer",
          "format": "int64"
        },
        "holdings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MutualFundHoldingsData"
          },
          "description": "Array of holdings."
        }
      }
    },
    "MutualFundSectorExposureData": {
      "type": "object",
      "properties": {
        "sector": {
          "description": "Sector",
[...]
